<div id="Aging-Skin-Type-Collection" class="desktop-collection lazyload collectionGrid container-wrap js-collection-grid js-collectionGrid" id="collection-module-{{ section.id }}" data-show-quickview="{{ settings.show_quick_view }}" data-show_reviews="{{ show_reviews }}" data-show_quantity="{{ settings.show_quantity }}" data-color_swatches="{{ color_swatches }}" data-carousel="{{ enable_carousel }}" data-slides-per-row="{{ settings.products_columns }}" data-grid-size="{{ settings.grid_size }}">
    <div class="collection-slider__wrapper">
        <div class="bf-slider collection-slider" id="aging-slider">
            {% for product in section.settings.aging.products %}
                {% include 'collectionGrid-block' %} 
            {% endfor %}
        </div>         
    </div>
</div>  
<script> 
$('document').ready(() => {
    $('#aging-slider').not('.slick-initialized').slick({
        infinite: false,
        slidesToShow: 4,
        slidesToScroll: 4, 
        nextArrow:$('.Arrow-Button-Next'),
        prevArrow:$('.Arrow-Button-Prev')
    })
})
</script>