<div id="Women-Type-Collection" class="desktop-collection hide collectionGrid container-wrap js-collection-grid js-collectionGrid" id="collection-module-{{ section.id }}" data-show-quickview="{{ settings.show_quick_view }}" data-show_reviews="{{ show_reviews }}" data-show_quantity="{{ settings.show_quantity }}" data-color_swatches="{{ color_swatches }}" data-carousel="{{ enable_carousel }}" data-slides-per-row="{{ settings.products_columns }}" data-grid-size="{{ settings.grid_size }}">
    <div class="collection-slider__wrapper">
        <div class="bf-slider collection-slider" id="women-slider">
            {% for product in section.settings.women.products   %}
                {% include 'collectionGrid-block' %}
            {% endfor %}
        </div>
    </div>
</div>