<!-- /templates/customers/account.liquid -->
{% comment %}

  For all available customer liquid tags:
    - http://docs.shopify.com/themes/liquid-variables/customer

{% endcomment %}
{% paginate customer.orders by 10 %}

<div class="account-home container">
  <div class="account-title row row-lg">
    <h1>{{ 'customer.account.title' | t }}</h1>
   
    <a href="/account/logout">{{ 'customer.link.logout' | t }}</a>
    
  </div>

  <div class="row row-lg inline display-flex">
    <div class="block s1  ">
      <h2>{{ 'customer.orders.title' | t }}</h2>

      {% comment %}
        If we have past orders, loop through each one
      {% endcomment %}
        {% if customer.orders.size != 0 %}

          <div class="block s1">
            <div class="account-table account-home-table d-table med_d-block">
              <div class="d-table-header">
                <div class="d-table-row">
                  <div class="order-number c-gray d-table-cell">{{ 'customer.orders.order_number' | t }}</div class="d-table-cell">
                  <div class="c-gray d-table-cell">{{ 'customer.orders.date' | t }}</div class="d-table-cell">
                  <div class="c-gray d-table-cell">{{ 'customer.orders.payment_status' | t }}</div class="d-table-cell">
                  <div class="c-gray d-table-cell">{{ 'customer.orders.fulfillment_status' | t }}</div class="d-table-cell">
                  <div class="order-total c-gray d-table-cell">{{ 'customer.orders.total' | t }}</div class="d-table-cell">
                </div>
              </div>
              <div class="d-table-row-group med_d-block">
                {% for order in customer.orders %}
                  <div class="order d-table-row med_d-block">
                    <div class="order-number c-2 d-table-cell med_d-block">
                      <p class="med_show c-gray">{{ 'customer.orders.order_number' | t }}: </p>
                      {{ order.name | link_to: order.customer_url }}
                    </div>
                    <div class="d-table-cell med_d-block">
                      <p class="med_show c-gray">{{ 'customer.orders.date' | t }}</p>
                      {{ order.created_at | date: format: 'month_day_year' }}
                    </div>
                    <div class="d-table-cell med_d-block">
                      <p class="med_show c-gray">{{ 'customer.orders.payment_status' | t }}</p>
                      {{ order.financial_status_label }}
                    </div>
                    <div class="d-table-cell med_d-block">
                      <p class="med_show c-gray">{{ 'customer.orders.fulfillment_status' | t }}</p>
                      {{ order.fulfillment_status_label }}
                    </div>
                    <div class="order-total d-table-cell med_d-block">
                      <p class="med_show c-gray">{{ 'customer.orders.total' | t }}</p>
                      {{ order.total_price | money }}
                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
      
          <style>
            .block.s1 {
                order: 3;
            }
            .loyality {
                order: 1;
            }
            .account-details.block.s1 {
                order: 2;
            }
          </style>

        {% else %}

          <p>{{ 'customer.orders.none' | t }}</p>

      {% endif %}
      
      {% if paginate.pages > 1 %}
        <div class="pagination">
          {{ paginate | default_pagination | replace: '&laquo; Previous', '&larr;' | replace: 'Next &raquo;', '&rarr;' }}
        </div>
      {% endif %}
      {% comment %}{% if paginate.next.is_link or paginate.previous.is_link %}
        <p class="prev-next"> 
          {% if paginate.previous.is_link %}
          <span class="left">{{ 'blog.blog_list_view.newer_articles' | t | link_to: paginate.previous.url }}</span>
          {% endif %}
          {% if paginate.next.is_link %}
          <span class="right">{{ 'blog.blog_list_view.older_articles' | t | link_to: paginate.next.url }}</span>
          {% endif %}
        </p>
      {% endif %}{% endcomment %}
    </div>
    <div class="account-details block s1 ">
      <h2>{{ 'customer.account.details' | t }}</h2>

      <p>{{ customer.name }}<br>
        
      <div class="birthday" style="padding: 30px 0;">
        <h3>Birthday</h3>
        {% assign month_label = "January, February, March, April, May, June, July, August, September, October, November, December" | split: ','  %}
        {% assign birth_month = "" %}
        {% assign birth_day = 0 %}
        {% for tag in customer.tags %}
        
        {% if tag contains 'month' %}
          {% assign month = tag | split: "-" %}
          {% for date in month %}
            {% if forloop.last == true %}
                {% assign date1 = date | plus: 0 %}
                {% for label in month_label %}
                    {% if forloop.index == date1 %}
                    	<p style="margin: 0;" class="month">{{ label }}</p>
        				{% assign birth_month = label %}
                    {% endif %}
                {% endfor %}
            {% endif %}
          {% endfor %}
        {% endif %}


        {% if tag contains 'day' %}
        {% assign day = tag | split: "-" %}
        {% for date in day %}
        {% if forloop.last == true %}
        	<p style="margin: 0;" class="day">Day: {{ date }}</p>
        	{% assign birth_day = date | plus: 0 %}
        {% endif %}
        {% endfor %}
        {% endif %}
        {% endfor %}
        
      </div>
      
      {% assign flag = 0 %}      
      {% assign flag1 = 0 %}
      {% for tag in customer.tags %}
      
      {% if tag contains 'month' %}
      {% assign flag = 1 %}
      {% endif %}
      
      {% if tag == 'Loyalty' or tag == 'loyaltymember' %}
      {% assign flag1 = 1 %}
      {% endif %}
      
      {% unless tag contains 'month' %}
      {% if forloop.last == true %}
      {% if flag == 0 and flag1 == 1 %}
      <form action="" method="post">
        <div class="row inline">

          <fieldset class="field dateofbirth dateofbirthsection" style="display: block;">
            <legend class="c-gray">Birthday*</legend>
            <div class="birthday-text">{{section.settings.detail}}</div>
            <div class="cus-form-group bithday-select">
              <div class="dobselect">
                <select name="customer[months]" id="months" aria-label="month" >
                  <option value="">Month</option>
                  <option value="01">Jan.</option>
                  <option value="02">Feb.</option>
                  <option value="03">Mar.</option>
                  <option value="04">Apr.</option>
                  <option value="05">May</option>
                  <option value="06">Jun.</option>
                  <option value="07">Jul.</option>
                  <option value="08">Aug.</option>
                  <option value="09">Sep.</option>
                  <option value="10">Oct.</option>
                  <option value="11">Nov.</option>
                  <option value="12">Dec.</option>
                </select>
              </div>
              <div class="dobselect" id="dayselect">
                <select name="customer[days]" id="days" aria-label="day" >
                  <option value="">Day</option>
                  <option value="01">1</option>
                  <option value="02">2</option>
                  <option value="03">3</option>
                  <option value="04">4</option>
                  <option value="05">5</option>
                  <option value="06">6</option>
                  <option value="07">7</option>
                  <option value="08">8</option>
                  <option value="09">9</option>
                  <option value="10">10</option>
                  <option value="11">11</option>
                  <option value="12">12</option>
                  <option value="13">13</option>
                  <option value="14">14</option>
                  <option value="15">15</option>
                  <option value="16">16</option>
                  <option value="17">17</option>
                  <option value="18">18</option>
                  <option value="19">19</option>
                  <option value="20">20</option>
                  <option value="21">21</option>
                  <option value="22">22</option>
                  <option value="23">23</option>
                  <option value="24">24</option>
                  <option value="25">25</option>
                  <option value="26">26</option>
                  <option value="27">27</option>
                  <option value="28">28</option>
                  <option value="29">29</option>
                  <option value="30">30</option>
                  <option value="31">31</option>
                </select>
              </div>   
            </div>
            <br>
          </fieldset>
        </div>
        <div class="row inline u-center">
          <input type="submit" value="{{ 'customer.register.submit' | t }}" class="account-form-submit button block">
        </div>
      </form>
      {% endif %}
      {% endif %}
      {% endunless %}


      {% endfor %}
      

      {% if customer.default_address != nil %}
      <p>
        {{ customer.default_address.address1 }}<br>

        {% if customer.default_address.address2 != "" %}
          {{ customer.default_address.address2 }}<br>
        {% endif %}

        {% if customer.default_address.city != "" %}
          {{ customer.default_address.city }}
        {% endif %}

        {% if customer.default_address.province_code != "" %}
          {{ customer.default_address.province_code | upcase }}
        {% endif %}

        {% if customer.default_address.zip != "" %}
          {{ customer.default_address.zip | upcase }}<br>
        {% endif %}

        {% if customer.default_address.country != "" %}
          {{ customer.default_address.country }}<br>
        {% endif %}

        {% if customer.default_address.phone != "" %}
          {{ customer.default_address.phone }}
        {% endif %}
        </p>
      {% endif %}

      <p><a class="account-addresses" href="/account/addresses">{{ 'customer.account.view_addresses' | t }} ({{ customer.addresses_count }})</a></p>
    </div>
  </div>

</div>
{% endpaginate %}

<script>
  $(document).ready(function() {
      var tags = '';
      {% for tag in customer.tags %}
      tags += '{{ tag }}' + ',';
      {% endfor %}
      
      $('form').submit(function(e) {
      e.preventDefault();
      var month = $('#months').val();
        var day = $('#days').val();
        if(month != "" && day != "") {
          tags += 'month-' + month;
          tags += ', day-' + day;
          $.ajax({
            url: 'https://api.dreamstolife.org/customer_birth_update.php',
            //           url: 'https://api.hydropeptide.com/customer_birth_update.php',
            type: 'post',
            data: {
              "id": '{{ customer.id }}',
              "tags": tags
            },
            success: function(data) {
             var shop_url='{{shop.secure_url}}';
             var shop_domain = '{{shop.domain}}';
             var email='{{ customer.email }}';
             var month=$('#months').val();;
             var day = $('#days').val();
              var data= {'store_id':shop_domain, 'payload':email, 'month':month,'day':day,'action':'updateBirthDate'};
              $.ajax({
                type: 'POST',
                url: shop_url+'/apps/loyalty/jwt_generator.php',
                data: JSON.stringify(data),
                dataType: "json",
                success: function(res) {
                  window.location.href = '/account';
                }
              }); 
              //window.location.href = '/account';
            }
          });
          
        }
        else {
          window.location.href ='/account';
        }
      });
    });
</script>
