  {% assign startdate =  section.settings.start_date | date: '%s' %}

      {% assign enddate =  section.settings.end_date | date: '%s' %}
     {% assign now =  'now' | date: "%Y-%m-%d  %H:%M %p" %}
     {% assign currenttime =  now | date: '%s' %}

     {% if currenttime >= startdate and currenttime <= enddate %}
<div class="bg_wrapper promise-sensory" id="text_bg">
  <div class="image_bg" style="background-image:url('{{ section.settings.image | img_url: 'master', format: 'pjpg' }}')" >
    {% capture image_layout %}
      <div class="">
        {% if section.settings.image != blank %}
          <noscript>
            {{ section.settings.image | img_url: '600x600' | img_tag: section.settings.image.alt, 'feature-row__image-no-js' }}
          </noscript>
          <div class="feature-row__image-wrapper" style="padding-top:{{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100}}%;">
            {% assign img_url = section.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
            <img class="feature-row__image lazyload"
              src="{{ section.settings.image | img_url: '300x300' }}"
              data-src="{{ img_url }}"
              data-widths="[360, 540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048]"
              data-aspectratio="{{ section.settings.image.aspect_ratio }}"
              data-sizes="auto"
              alt="{{ section.settings.image.alt | escape }}">
        </div>
        {% else %}
          {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
        {% endif %}
      </div>
    {% endcapture %}

    <div class="large--hide medium-down--show mobile_section_image">
    	<img src="{{ section.settings.mobile_image | img_url: 'master', format: 'pjpg' }}">
    </div>
    
    <div class="right_content large--two-fifths medium--down-one-whole">
      

      <div class="feature-row__text feature-row__text">
        {% if section.settings.title != blank %}
          <h2 class="h3">{{ section.settings.title | escape }}</h2>
        {% endif %}
        {% if section.settings.text != blank %}
          <div class="rte-setting featured-row__subtext">{{ section.settings.text }}</div>
        {% endif %}
        {% if section.settings.button_label != blank and section.settings.button_link != blank %}
          <a href="{{ section.settings.button_link }}" class="btn">
            {{ section.settings.button_label | escape }}
          </a>
        {% endif %}
      </div>

      
    </div>
  </div>
</div>
{% endif %}
{% schema %}
  {
    "name": "Sensory Experience",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
      	"type": "image_picker",
      	"id": "mobile_image",
      	"label": "Mobile Image"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Image with text"
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Text",
        "default": "<p>Pair large text with an image to give focus to your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>"
      },
      {
        "type": "text",
        "id": "button_label",
        "label": "Button label"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Button link"
      },
      {
        "type": "text",
        "id": "start_date",
        "label": "Start Date",
        "default": "1970-01-01 11:50 PM"
       },
      {
        "type": "text",
        "id": "end_date",
        "label": "End Date",
        "default": "2050-03-12 11:50 PM"
       }
    ],
    "presets": [
      {
        "name": "Sensory Experience",
        "category": "Custom"
      }
    ]
  }
{% endschema %}
